{% extends 'core/base.html' %}

{% block content %}
<div class="container mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for recipe in recipes %}
        <div class="max-w-sm rounded overflow-hidden shadow-lg m-2 flex flex-col justify-between">
            <img class="w-full h-48 object-cover" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{ recipe.title }}</div>
                <p class="text-gray-700 text-base">{{ recipe.description|truncatewords:20 }}</p>
            </div>
            <div class="flex justify-center">
                <!-- View Recipe button -->
                <a href="/recipes/{{ recipe.id }}" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
                  View Recipe
                </a>
            </div>
        </div>
        {% empty %}
        <p>No recipes available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
